<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Portfolio{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	<div class="container">
		<div id="header" class="jumbotron">
		  <h1>Ma plateforme d'annonces</h1>
		  <p>
			Ce projet est propulsé par Symfony,
			et construit grâce au MOOC OpenClassrooms et Mohcine Assou.
		  </p>
		  <p>
			<a class="btn btn-primary btn-lg" href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony2">
			  Participer au MOOC »
			</a>
		  </p>
		</div>
	
        {% block body %}{% endblock %}
	<footer>
	<!--Begin Social Icons-->
		<div id="social">
			<a href="#" class="fa fa-facebook-square fa-3x"></a>
			<a href="#" class="fa fa-linkedin fa-3x"></a>
			<a href="#" class="fa fa-google-plus-square fa-3x"></a>		
					
		</div>
		<!--End Social Icons-->		
      <p>massou.fr © {{ 'now'|date('Y') }} Tous droits réservés. </p>
    </footer>
	
        {% block javascripts %}
			 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			 <script src="https://use.fontawesome.com/d22caca8be.js"></script>
		{% endblock %}
    </body>
</html>
