<footer id="footer" class="clearfix">
      <div id="footer-widgets">

        <div class="container">

        <div id="footer-wrapper">

          <div class="row">
            <div class="col-sm-6 col-md-2">
              <div id="meta-3" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Page Importante :</h4>
              <ul>
    		  <li><a href="#"><i class="fa fa-home fa-2x fa-fw"></i> A Propos</a></li>
			  <li><a href="#"><i class="fa fa-cogs fa-2x fa-fw"></i>   Projets</a></li>
			  <li><a href="#"><i class="fa fa-wrench fa-2x fa-fw"></i>   Projets en cours</a></li>
			  <li><a href="#"><i class="fa fa-envelope fa-2x fa-fw"></i> Contact </a></li>
             </ul>
		</div>      </div> <!-- end widget1 -->

            <div class="col-sm-6 col-md-2">
              		<div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                    <h4 class="widgettitle">Réseaux sociaux :</h4>
                    <ul>
					<li>
				      <a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i>Facebook</a>
					</li>
					<li>
				      <a href="#"><i class="fa fa-github fa-2x fa-fw"></i>Github</a>
					</li>
					<li>
				      <a href="#"><i class="fa fa-google-plus-official fa-2x fa-fw"></i>Google Plus </a>
				   </li>
				   	<li><a href='#'>
				      <a href="#"><i class="fa fa-linkedin fa-2x fa-fw"></i>Linkedin</a>
				   </li>
				</ul>
		</div>            </div> <!-- end widget1 -->

            <div class="col-sm-6 col-md-4">
              <div id="meta-4" class="widget widgetFooter widget_meta">
              <h4 class="widgettitle">Portfolio :</h4>
			  <blockquote>
				<h5 class="text-muted" >
					<em>Bienvenue sur mon portfolio, je suis Mohcine Assou, Développeur en ingénieurie logiciels.
					J'ai utilisé pas mal de langage de programmation et Framework par exemple PHP, Symfony.
					Ce site est l'un de mes projets réalisé en Symfony.
					Je travaille fréquement sur le Symfony car je le trouve intéressant, et qui répond parfaitement
					à mes besoins.</em>
				</h5>
              </blockquote>

              </div>
             </div> <!-- end widget1 -->

            <div class="col-sm-6 col-md-4">
              <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle">Recherche :</h4>

                <div class="form-group">
                                
                                <div class="input-group">
                                  <span class="input-group-addon">Mots-clés :</span>
                                  <input class="form-control" placeholder="mots-clés ..." type="text">
                                   <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Recherche !</button>
                                  </span>
                                </div>
                              </div>

                </div>
			 <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle">Adresse :</h4>
				<blockquote>
					<h5><i class="fa fa-map-marker fa-2x fa-fw"></i> Rue des docteurs charcot,42100 St Etienne, France</h5>
				</blockquote>
	
				</div> <!-- end widget1 -->

          </div> <!-- end .row -->

        </div> <!-- end #footer-wrapper -->

        </div> <!-- end .container -->
      </div> <!-- end #footer-widgets -->

      <div id="sub-floor">
        <div class="container">
          <div class="row">
            <div class="col-md-4 copyright">
             massou.fr © {{ 'now'|date('Y') }} Tous droits réservés. 
            </div>
            <div class="col-md-4 col-md-offset-4 attribution">
             <a target="_blank" href="#">Copy Right MASSOU</a>.
            </div>
          </div> <!-- end .row -->
        </div>
      </div>

    </footer>
